@{
    ViewData["Title"] = "Loan Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Loan Application - Search Member</h3>
                </div>
                <div class="card-body">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }

                    <form asp-action="SearchMember" method="post">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="memberNo">Member Number</label>
                                    <input type="text" class="form-control" id="memberNo" name="memberNo"
                                           required placeholder="Enter member number">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button type="submit" class="btn btn-primary btn-block">
                                        <i class="fas fa-search"></i> Search Member
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <hr>

                    <div class="alert alert-info">
                        <h5><i class="fas fa-info-circle"></i> Instructions</h5>
                        <ol>
                            <li>Enter the member number and click "Search Member"</li>
                            <li>Verify member details and eligibility</li>
                            <li>Fill the loan application form</li>
                            <li>Add guarantors if required</li>
                            <li>Submit the application</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>